<div
  class="modal fade show d-block"
  tabindex="-1"
  style="background: rgba(0, 0, 0, 0.7)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
      </div>
      <div class="modal-body text-center">
        {% if erreurRole is defined %}
        <div class="alert alert-danger">
          {{ erreurRole }}
        </div>
        {% else %}
        <p>
          Ce trajet utilise <strong>1 crédit</strong>. Souhaitez-vous continuer
          ?
        </p>

        <form
          method="POST"
          action="{{ path('covoiturage_participer', { id: covoiturage.id }) }}"
        >
          <input
            type="hidden"
            name="_token"
            value="{{ csrf_token('participer' ~ covoiturage.id) }}"
          />
          <button type="submit" class="btn btn-success">Confirmer</button>
          <a href="{{ path('app_covoiturage') }}" class="btn btn-secondary"
            >Annuler</a
          >
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
