<div
  class="modal fade show d-block"
  tabindex="-1"
  style="background: rgba(0, 0, 0, 0.7)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Connexion requise</h5>
      </div>
      <div class="modal-body text-center">
        <p>Vous devez vous connecter pour participer à ce covoiturage.</p>
        <a href="{{ path('app_login') }}" class="btn btn-primary"
          >Se connecter</a
        >
      </div>
    </div>
  </div>
</div>
